@import url(https://fonts.googleapis.com/css?family=Raleway);
/* line 1, ../../source_sass/_base.scss */
.not-full-page {
  padding-top: 110px; }

/* line 3, ../../source_sass/_base.scss */
* {
  box-sizing: border-box; }

/* line 7, ../../source_sass/_base.scss */
.profile-thumb {
  float: left; }

/* line 9, ../../source_sass/_base.scss */
.profile-photo {
  display: block; }

/* line 13, ../../source_sass/_base.scss */
.navbar-header {
  background-color: transparent; }

/* line 17, ../../source_sass/_base.scss */
.icon-bar {
  background-color: white; }

/* line 21, ../../source_sass/_base.scss */
.section {
  text-align: center; }

@media (max-width: 767px) {
  /* line 27, ../../source_sass/_base.scss */
  .heading {
    font-family: "Raleway", sans-serif;
    font-size: 400%; }

  /* line 32, ../../source_sass/_base.scss */
  .background-image {
    height: 100%;
    z-index: 30; } }
@media (min-width: 767px) {
  /* line 39, ../../source_sass/_base.scss */
  .heading {
    font-family: "Raleway", sans-serif;
    font-size: 1000%; }

  /* line 44, ../../source_sass/_base.scss */
  .lead {
    font-family: "Raleway", sans-serif;
    font-size: 200%; }

  /* line 49, ../../source_sass/_base.scss */
  .background-image {
    height: 100%;
    width: 100%;
    z-index: 30; } }
/* line 59, ../../source_sass/_base.scss */
.navbar-brand {
  margin-left: 10px;
  margin-right: 20px;
  transform: translate(0, -50%); }

/* line 65, ../../source_sass/_base.scss */
.navbar {
  padding-top: 30px;
  font-family: "Raleway", sans-serif; }

/* line 70, ../../source_sass/_base.scss */
.navbar-default {
  background-color: transparent !important; }

/* line 75, ../../source_sass/_base.scss */
.navbar-nav a {
  display: block;
  color: white;
  font-size: 1.5em;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: transparent !important; }

/* line 85, ../../source_sass/_base.scss */
.navbar-nav a:hover:not(.active) {
  border-bottom: 2px solid white; }

/* line 89, ../../source_sass/_base.scss */
.navbar-nav a.active {
  border-bottom: 2px solid white; }

/* line 93, ../../source_sass/_base.scss */
.login {
  margin-right: 20px; }

/* line 98, ../../source_sass/_base.scss */
#section0, #section1, #section2, #section3 {
  background-size: cover; }

/* line 103, ../../source_sass/_base.scss */
#section1 {
  width: 100%;
  display: block;
  position: relative;
  background-image: url(../data/pics/background-road.jpg);
  padding: 30% 0 0 0; }

/* line 113, ../../source_sass/_base.scss */
.above-image {
  color: white;
  position: absolute;
  z-index: 50;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

/* line 122, ../../source_sass/_base.scss */
.right {
  color: white; }

/* line 127, ../../source_sass/_base.scss */
.slide {
  position: relative; }

/* line 131, ../../source_sass/_base.scss */
.above-image2 {
  color: white;
  position: absolute;
  z-index: 50;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

/*
  NOTE: Do not touch this file. Write the bulk of your custom styles
  in _base.scss
*/
