.not-full-page { padding-top: 110px; }

* {
	box-sizing: border-box;
}

.profile-thumb { float: left; }

.profile-photo {
  display: block;
}

.navbar-header {
	background-color: transparent;
}

.icon-bar {
    background-color: white;
}

.section {
	text-align:center;
	//overflow:hidden;
}

@media (max-width: 767px) {
	.heading {
	font-family: $font-stack;
	font-size:400%;	
	}

	.background-image {
	height:100%;
	z-index:30;
	}
}

@media(min-width: 767px){
	.heading {
	font-family: $font-stack;
	font-size:1000%;	
	}

	.lead {
	font-family: $font-stack;
	font-size:200%;
	}

	.background-image {
	height:100%;
	width:100%;
	z-index:30;
	}
}



//=======Nav bar============
.navbar-brand {
	margin-left: 10px;
	margin-right:20px;
	transform:translate(0, -50%);
}

.navbar {
	padding-top:30px;
	font-family: $font-stack;
}

.navbar-default {
	background-color:transparent !important;

}

.navbar-nav a{
	display: block;
    color: white;
	font-size: 1.5em;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color:transparent !important;
}

.navbar-nav a:hover:not(.active) {
    border-bottom: 2px solid white;
}

.navbar-nav a.active {
    border-bottom: 2px solid white;
}

.login {
	margin-right: 20px;
}

//=======All Sections=======
#section0, #section1, #section2, #section3{
	background-size: cover;
}

//=======Section1===========
#section1 {
	width:100%;
	display:block;
	position:relative;
	background-image: url(../data/pics/background-road.jpg);
	padding: 30% 0 0 0;
}



.above-image {
	color:white;
	position:absolute;
	z-index:50;
	left: 50%;
	top:50%;
	transform:translate(-50%, -50%);
}

.right {
	color: white;
}

//=======Section2===========
.slide {
	position:relative;
}

.above-image2 {
	color:white;
	position:absolute;
	z-index:50;
	left: 50%;
	top:50%;
	transform:translate(-50%, -50%);
}

//=====Section3============
